In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df1_7=pd.read_parquet('./data/train/1.회원정보/201807_train_회원정보.parquet')
df4_7=pd.read_parquet('./data/train/4.청구입금정보/201807_train_청구정보.parquet')
df5_7=pd.read_parquet('./data/train/5.잔액정보/201807_train_잔액정보.parquet')
df6_7=pd.read_parquet('./data/train/6.채널정보/201807_train_채널정보.parquet')

In [3]:
df1_8=pd.read_parquet('./data/train/1.회원정보/201808_train_회원정보.parquet')
df4_8=pd.read_parquet('./data/train/4.청구입금정보/201808_train_청구정보.parquet')
df5_8=pd.read_parquet('./data/train/5.잔액정보/201808_train_잔액정보.parquet')
df6_8=pd.read_parquet('./data/train/6.채널정보/201808_train_채널정보.parquet')

In [4]:
df1_9=pd.read_parquet('./data/train/1.회원정보/201809_train_회원정보.parquet')
df4_9=pd.read_parquet('./data/train/4.청구입금정보/201809_train_청구정보.parquet')
df5_9=pd.read_parquet('./data/train/5.잔액정보/201809_train_잔액정보.parquet')
df6_9=pd.read_parquet('./data/train/6.채널정보/201809_train_채널정보.parquet')

In [5]:
df1_10=pd.read_parquet('./data/train/1.회원정보/201810_train_회원정보.parquet')
df4_10=pd.read_parquet('./data/train/4.청구입금정보/201810_train_청구정보.parquet')
df5_10=pd.read_parquet('./data/train/5.잔액정보/201810_train_잔액정보.parquet')
df6_10=pd.read_parquet('./data/train/6.채널정보/201810_train_채널정보.parquet')

In [6]:
df1_11=pd.read_parquet('./data/train/1.회원정보/201811_train_회원정보.parquet')
df4_11=pd.read_parquet('./data/train/4.청구입금정보/201811_train_청구정보.parquet')
df5_11=pd.read_parquet('./data/train/5.잔액정보/201811_train_잔액정보.parquet')
df6_11=pd.read_parquet('./data/train/6.채널정보/201811_train_채널정보.parquet')

In [7]:
df1_12=pd.read_parquet('./data/train/1.회원정보/201812_train_회원정보.parquet')
df4_12=pd.read_parquet('./data/train/4.청구입금정보/201812_train_청구정보.parquet')
df5_12=pd.read_parquet('./data/train/5.잔액정보/201812_train_잔액정보.parquet')
df6_12=pd.read_parquet('./data/train/6.채널정보/201812_train_채널정보.parquet')

## 1. 6개월치 4,5,6 데이터프레임 merge

In [8]:
# 월 리스트
months = ['7', '8', '9', '10', '11', '12']

# 월별 결과 저장 리스트
merged_monthly = []

for m in months:
    # 회원정보에서 ID, 기준년월, Segment만 추출
    df1 = globals()[f'df1_{m}'][['ID', '기준년월', 'Segment']]

    # 청구/잔액/채널 전체 정보
    df4 = globals()[f'df4_{m}']
    df5 = globals()[f'df5_{m}']
    df6 = globals()[f'df6_{m}']

    # ID, 기준년월 기준으로 순차 merge
    merged = df1.merge(df4, on=['ID', '기준년월'], how='left') \
                .merge(df5, on=['ID', '기준년월'], how='left') \
                .merge(df6, on=['ID', '기준년월'], how='left')

    # 월별 결과 누적
    merged_monthly.append(merged)

# 전체 월 통합
final_df = pd.concat(merged_monthly, ignore_index=True)

In [9]:
final_df

,ID,기준년월,Segment,대표결제일,대표결제방법코드,대표청구지고객주소구분코드,대표청구서수령지구분코드,청구서수령방법,청구서발송여부_B0,청구서발송여부_R3M,...,당사PAY_방문횟수_R6M,당사PAY_방문월수_R6M,당사멤버쉽_방문횟수_B0M,당사멤버쉽_방문횟수_R6M,당사멤버쉽_방문월수_R6M,OS구분코드,홈페이지_금융건수_R6M,홈페이지_선결제건수_R6M,홈페이지_금융건수_R3M,홈페이지_선결제건수_R3M
0,TRAIN_000000,201807,D,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,...,0,0,22,221,6,Android,0,0,0,0
1,TRAIN_000001,201807,E,13,자동이체,주거지,우편,우편,1,1,...,0,0,0,0,0,None,0,0,0,0
2,TRAIN_000002,201807,C,1,자동이체,미확인,이메일,이메일,1,1,...,0,0,0,0,0,Android,11,6,5,5
3,TRAIN_000003,201807,D,5,자동이체,주거지,우편,우편,1,1,...,0,0,23,219,6,Android,0,0,0,0
4,TRAIN_000004,201807,E,13,자동이체,주거지,우편,우편,0,1,...,0,0,0,0,0,Android,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,201812,E,25,자동이체,주거지,우편,우편,0,0,...,0,0,0,0,0,None,0,0,0,0
2399996,TRAIN_399996,201812,D,20,자동이체,미확인,이메일,이메일,1,1,...,0,0,0,0,1,None,0,0,0,0
2399997,TRAIN_399997,201812,C,20,자동이체,회사,우편,우편,1,1,...,0,0,0,0,0,None,0,0,0,0
2399998,TRAIN_399998,201812,E,20,자동이체,주거지,우편,우편,0,0,...,0,0,0,0,0,None,0,0,0,0
2399999,TRAIN_399999,201812,E,23,자동이체,주거지,우편,우편,1,1,...,0,0,0,0,0,None,0,0,0,0

## 2. 데이터 전처리

#### datetime 변환

In [10]:
# 확인하고 싶은 컬럼 리스트
date_columns = [
    '기준년월',
    '입회일자_신용',
    '최종유효년월_신용_이용가능',
    '최종유효년월_신용_이용',
    '최종카드발급일자',
    'RV신청일자',
    '최종이용일자_기본',
    '최종이용일자_신판',
    '최종이용일자_CA',
    '최종이용일자_카드론',
    '최종이용일자_체크',
    '최종이용일자_일시불',
    '최종이용일자_할부',
    '최종카드론_대출일자'
]

# 실제 존재하는 컬럼만 추출
existing_columns = [col for col in date_columns if col in final_df.columns]

# 결과 출력
print("final_df에 존재하는 날짜 관련 컬럼:")
print(existing_columns)

final_df에 존재하는 날짜 관련 컬럼:
['기준년월']

In [11]:
# 기준년월: datetime 변환
final_df['기준년월'] = pd.to_datetime(
    final_df['기준년월'].astype(str).where(final_df['기준년월'].astype(str).str.match(r'^\d{6}$')),
    format='%Y%m',
    errors='coerce'
)

#### 고유값이 하나인 범주형데이터_피처 삭제

In [12]:
# 데이터 타입이 object이거나 category인 컬럼 추출
categorical_columns = final_df.select_dtypes(include=['object', 'category']).columns.tolist()

print("범주형 변수 목록:")
print(categorical_columns)

범주형 변수 목록:
['ID', 'Segment', '대표결제방법코드', '대표청구지고객주소구분코드', '대표청구서수령지구분코드', '청구서수령방법', '할인건수_R3M', '할인건수_B0M', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '방문횟수_PC_R6M', '방문일수_PC_R6M', '방문횟수_앱_R6M', 'OS구분코드']

In [13]:
# 범주형 변수 추출
categorical_columns = final_df.select_dtypes(include=['object', 'category']).columns

# 유일한 값이 하나만 존재하는 컬럼 찾기
single_value_columns = [col for col in categorical_columns if final_df[col].nunique(dropna=False) == 1]

print("값이 하나뿐인 범주형 변수:")
print(single_value_columns)

값이 하나뿐인 범주형 변수:
['대표결제방법코드']

In [14]:
len(categorical_columns)

14

In [15]:
final_df = final_df.drop(columns=['대표결제방법코드'])

In [16]:
print('대표결제방법코드' in final_df.columns)  # False면 성공

False

#### 결측치 처리

In [17]:
# 결측치가 있는 칼럼과 결측치 수
null_columns = final_df.isnull().sum()
null_columns = null_columns[null_columns > 0].sort_values(ascending=False)

# 보기 좋게 DataFrame으로 출력
null_df = null_columns.reset_index()
null_df.columns = ['Column', 'MissingValues']

print(null_df)

     Column  MissingValues
0  연체일자_B0M        2394336
1    OS구분코드        1633566

In [18]:
label_date_cols = ['연체일자_B0M']

# 각 컬럼에 대해 결측치 → '0' 대체 후 라벨 인코딩
for col in label_date_cols:
    # NaN → '0' 문자열로 대체 (숫자 → 문자열)
    final_df[col] = final_df[col].fillna(0).astype(int).astype(str)

    # 라벨 인코딩
    le = LabelEncoder()
    final_df[col] = le.fit_transform(final_df[col])

# 결과 예시 출력
print(final_df[label_date_cols].head())

   연체일자_B0M
0         0
1         0
2         0
3         0
4         0

In [19]:
print(final_df[['ID'] + label_date_cols].head())

             ID  연체일자_B0M
0  TRAIN_000000         0
1  TRAIN_000001         0
2  TRAIN_000002         0
3  TRAIN_000003         0
4  TRAIN_000004         0

In [20]:
# 결측값을 '그외'로 채움
final_df['OS구분코드'] = final_df['OS구분코드'].fillna('그외')

# 원핫 인코딩 수행
final_df = pd.get_dummies(final_df, columns=['OS구분코드'], prefix='OS')

# 결과 확인 (앞 몇 칼럼만)
print(final_df.filter(like='OS_').head())

   OS_Android  OS_IOS  OS_그외
0        True   False  False
1       False   False   True
2        True   False  False
3        True   False  False
4        True   False  False

### 미이용 처리

In [21]:
final_df.연체일수_B1M.unique()

array([-999999,       0,       1], dtype=int64)

In [22]:
final_df.연체일수_B2M.unique()

array([-999999,       0,       1], dtype=int64)

In [23]:
final_df.loc[final_df.연체일수_B1M == -999999, '연체일수_B1M'] = '미이용'

C:\Users\campus4D042\AppData\Local\Temp\ipykernel_1212\3798133708.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '미이용' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  final_df.loc[final_df.연체일수_B1M == -999999, '연체일수_B1M'] = '미이용'

In [24]:
final_df.loc[final_df.연체일수_B2M == -999999, '연체일수_B2M'] = '미이용'

C:\Users\campus4D042\AppData\Local\Temp\ipykernel_1212\379174806.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '미이용' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  final_df.loc[final_df.연체일수_B2M == -999999, '연체일수_B2M'] = '미이용'

#### 범주형데이터 찾기(int or float -> category)

In [26]:
# 변환 대상 컬럼 리스트
category_cols = ['최종카드론_금융상환방식코드',
    '남녀구분코드', '회원여부_이용가능', '회원여부_이용가능_CA',
    '회원여부_이용가능_카드론', '소지여부_신용', '회원여부_연체',
    '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM',
    '수신거부여부_DM', '수신거부여부_메일', '수신거부여부_SMS',
    '마케팅동의여부', '보유여부_해외겸용_본인', '이용가능여부_해외겸용_본인',
    '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인',
    '이용가능여부_해외겸용_신용_본인', '이용여부_3M_해외겸용_신용_본인',
    '일시불ONLY전환가능여부', '연체감액여부_R3M', '시장단기연체여부_R6M',
    '시장단기연체여부_R3M', '청구서발송여부_B0', '청구서발송여부_R3M',
    '청구서발송여부_R6M'
]
# 실제 존재하는 컬럼만 선택
existing_cols = [col for col in category_cols if col in final_df.columns]
# 선택된 컬럼들을 category 타입으로 변환
final_df[existing_cols] = final_df[existing_cols].astype('category')

In [27]:
existing_cols

['청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M']

#### 범주형데이터 인코딩

In [28]:
print(categorical_columns)

Index(['ID', 'Segment', '대표결제방법코드', '대표청구지고객주소구분코드', '대표청구서수령지구분코드', '청구서수령방법',
       '할인건수_R3M', '할인건수_B0M', '인입횟수_ARS_R6M', '이용메뉴건수_ARS_R6M', '방문횟수_PC_R6M',
       '방문일수_PC_R6M', '방문횟수_앱_R6M', 'OS구분코드'],
      dtype='object')

In [29]:
one_hot_cols = ['청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '연체일수_B1M', '연체일수_B2M']
final_df = pd.get_dummies(final_df, columns=one_hot_cols, prefix=one_hot_cols)

In [30]:
# 인코딩 대상 컬럼
one_hot_cols = [
    '대표청구지고객주소구분코드',
    '대표청구서수령지구분코드',
    '청구서수령방법'
]

label_encode_cols = [
    '할인건수_R3M',
    '할인건수_B0M',
    '인입횟수_ARS_R6M',
    '이용메뉴건수_ARS_R6M',
    '방문횟수_PC_R6M',
    '방문일수_PC_R6M',
    '방문횟수_앱_R6M'
]

# 1. 원핫 인코딩
final_df = pd.get_dummies(final_df, columns=one_hot_cols, prefix=one_hot_cols)

# 2. 라벨 인코딩 (올인원 스타일)
le = LabelEncoder()
for col in label_encode_cols:
    final_df[col] = final_df[col].fillna('NaN')  # 결측치 임시 문자열 처리
    final_df[col] = le.fit_transform(final_df[col].astype(str))

# 결과 확인
print("인코딩 완료. final_df shape:", final_df.shape)

인코딩 완료. final_df shape: (2400000, 251)

In [31]:
# 라벨 인코더 선언
le = LabelEncoder()

# 결측치가 있다면 임시 문자열로 대체
final_df['Segment'] = final_df['Segment'].fillna('NaN')

# 인코딩 수행 (기존 Segment 칼럼 덮어쓰기)
final_df['Segment'] = le.fit_transform(final_df['Segment'])

# 인코딩된 값 확인
label_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("라벨 인코딩 매핑 결과:")
for k, v in label_mapping.items():
    print(f"{k} → {v}")

라벨 인코딩 매핑 결과:
A → 0
B → 1
C → 2
D → 3
E → 4

In [32]:
final_df

,ID,기준년월,Segment,대표결제일,청구금액_B0,청구금액_R3M,청구금액_R6M,포인트_마일리지_건별_B0M,포인트_마일리지_건별_R3M,포인트_포인트_건별_B0M,...,대표청구서수령지구분코드_문자메세지,대표청구서수령지구분코드_미수신,대표청구서수령지구분코드_우편,대표청구서수령지구분코드_이메일,청구서수령방법_K톡,청구서수령방법_당사멤버십,청구서수령방법_문자메세지,청구서수령방법_미수령,청구서수령방법_우편,청구서수령방법_이메일
0,TRAIN_000000,2018-07-01,3,27,12226,46588,88693,0,0,1444,...,False,False,False,False,False,False,True,False,False,False
1,TRAIN_000001,2018-07-01,4,13,5834,10530,16861,0,0,0,...,False,False,True,False,False,False,False,False,True,False
2,TRAIN_000002,2018-07-01,2,1,21866,85931,165221,0,0,2305,...,False,False,False,True,False,False,False,False,False,True
3,TRAIN_000003,2018-07-01,3,5,16356,61518,127371,0,0,1452,...,False,False,True,False,False,False,False,False,True,False
4,TRAIN_000004,2018-07-01,4,13,0,0,155,0,0,0,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,2018-12-01,4,25,0,0,0,0,0,0,...,False,False,True,False,False,False,False,False,True,False
2399996,TRAIN_399996,2018-12-01,3,20,14402,37515,99849,0,0,3339,...,False,False,False,True,False,False,False,False,False,True
2399997,TRAIN_399997,2018-12-01,2,20,5731,22274,41073,0,0,0,...,False,False,True,False,False,False,False,False,True,False
2399998,TRAIN_399998,2018-12-01,4,20,0,0,0,0,0,0,...,False,False,True,False,False,False,False,False,True,False
2399999,TRAIN_399999,2018-12-01,4,23,3422,9704,19948,0,0,0,...,False,False,True,False,False,False,False,False,True,False

## 3. Segment와 상관계수 도출

In [33]:
# 제외할 칼럼 목록
exclude_cols = ['ID', '기준년월']

# 상관계수 계산 (Segment 기준)
correlations = final_df.drop(columns=exclude_cols).corr(numeric_only=True)['Segment'].drop('Segment')

# 상관계수 0.1 이상인 피처 추출
high_corr_features = correlations[correlations.abs() >= 0.1]

# 결과 출력
print("Segment와 상관계수(|r| ≥ 0.1)인 피처 수:", len(high_corr_features))
print("\n해당 피처들:\n", high_corr_features.sort_values(ascending=False))

Segment와 상관계수(|r| ≥ 0.1)인 피처 수: 103

해당 피처들:
 OS_그외            0.223463
청구서발송여부_B0_0     0.209534
청구서발송여부_R3M_0    0.187036
방문후경과월_PC_R6M    0.172772
방문후경과월_앱_R6M     0.158202
                   ...
월중평잔_일시불_B0M    -0.444621
평잔_일시불_6M       -0.447967
청구금액_B0         -0.577988
청구금액_R3M        -0.590678
청구금액_R6M        -0.597904
Name: Segment, Length: 103, dtype: float64

In [34]:
# 저장할 컬럼 목록: 상관계수 높은 피처 + ID, 기준년월, Segment
selected_cols = ['ID', '기준년월', 'Segment'] + list(high_corr_features.index)

# 해당 컬럼만 추출
filtered_df = final_df[selected_cols]

# CSV로 저장
filtered_df.to_csv('./data/0.1이상 상관계수(456).csv', index=False, encoding='utf-8-sig')

print("0.1이상 상관계수(456).csv 파일로 저장 완료!")

0.1이상 상관계수(456).csv 파일로 저장 완료!